// vars local
$color-green: #85c226;
$color-green-light: rgba(29, 190, 69, 0.5);
$color-black: rgb(17, 16, 16);
$color-black-light: rgba(0, 0, 0, 0.5);
$color-gray-light: rgba(121, 120, 120, 0.5);
$color-gray: rgba(104, 104, 104, 0.5);
$color-white: rgb(238, 237, 237);

// Map local

$varFonts: (
    'tiro': "Tiro Devanagari Marathi",
    'edu': "Edu QLD Beginner",
    'roboto': "Roboto",
);

